.header-category {
	background-color: $skin;
	margin-bottom: 40px;
  min-height: 300px;
  padding: 50px 50px 50px 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-list {
  margin-bottom: 100px;
  @include breakpoint(tablet) {
    margin-bottom: 50px;
  }
}

.cateygory-holder {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.category__title {
  font-size: 2.2rem;
  @include breakpoint(tablet) {
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin-bottom: 5px;
  }
}

.category__show-more {
  align-self: flex-end;
    a {
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
}

.category__subtitle {
  font-size: 16px;
  color: #666666;
  @include breakpoint(tablet) {
    font-size: 14px;
  }
}

.cat-title {
  margin-bottom: 5px;
}

.cat-single-title {
  margin-bottom: 5px;
  font-size: 56px;
}
