.info-wrapper {
	background: linear-gradient(to right, #ff5b24 0%, #ff5b24 50%, #fff4ec 50%, #fff4ec 100%);
}

.info-box {
  background-color: $skin;
}

.info__panel {
  padding: 4.5rem 0;
  max-width: 430px;
}

.text-color-white {
  color: #fff;
}

.text-color-bruno {
  color: $bruno;
}

.service__description {
  margin-bottom: 2.25rem;
}

.title__ingress {
  font-size: 26px;
  letter-spacing: -2.5px;
  font-weight: 700;
  margin-bottom: 10px;
}

.get-started {
  box-shadow: 0px 12px 32px rgba(13,24,51,0.08);
  border-radius: 8px;
  padding: 40px;
  margin:60px 0px 60px 0px;
  background-color: #fff;
	text-align: center;
}

.kuk {
  max-width: 550px;
  margin:0 auto;
}

.episodes__list__item {
	border-bottom: 1px solid rgba(250,250,250,.1);
	-webkit-transition: background .6s ease;
	transition: background .6s ease;
	position: relative;
}

.episodes__list__item__top {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	padding: .5em 2em 1.5em;
	max-width: 790px;
}

.episodes__list__item__meta {
	letter-spacing: .5px;
	color: rgba(250,250,250,.4);
	padding: 0 2em 0.5em 0;
	font-size: .8rem;
	line-height: 1.25rem;
}

.episodes__list__title {
	font-size: 1.3rem;
	padding: 0 50px 0 0;
	font-weight: 700;
}

.top-title {
	font-size: 3em;
	font-weight: 300;
	text-align: center;
	margin: 1.25rem auto;
	letter-spacing: .5px;
}

.episodes__list__item__desc {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	max-width: 790px;
	padding-bottom: 2em;
	display: none;
}

.show-episode-desc {
	display: block;
}

.episodes__list__fold {
	width: 40px;
	text-align: center;
	float: left;
	height: 40px;
	line-height: 40px;
	position: absolute;
	margin: -20px -20px 0 0;
	right: 20px;
	top: 50%;
	font-size: 2rem;
	color: rgba(250,250,250,.6);
	transition: transform .3s ease-in-out;
}

.is-open .episodes__list__fold {
	transform: rotate(135deg);
	transform-origin: center center;
}

.episodes__list__player__icon--play {
	left: .125em;
	border-top: .75em solid transparent;
	border-right: 0 solid transparent;
	border-bottom: .75em solid transparent;
	border-left: 1.34em solid #ffffff;
}

.episodes__list__playbutton {
	font-size: .75rem;
	cursor: pointer;
	text-align: center;
	width: 1.5em;
	position: absolute;
	height: 1.5em;
	left: 0;
	top: 50%;
	margin-top: -0.3875em;
	z-index: 11;
}

.episodes__list__player__icon {
	content: "";
	display: block;
	top: 0;
	left: 0;
	position: absolute;
	-webkit-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}
