* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
  height: auto;
	display: block;
}

span {
  display: block;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #F9f9f9;
  color: $batman;
}

a {
	color: $purplerain;
  text-decoration: none;
	transition: all ease-out 0.1s;
}

a:hover {
	color: lighten($purplerain,40%);
}

.content-wrapper {
  min-height: 50vh;
  padding-top: 70px;
}
