@import url('https://fonts.googleapis.com/css?family=DM+Sans:700|Karla:400,700&display=swap');

body {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'DM Sans', sans-serif;
  color: $pumpkin;
  line-height: normal;
}

h1 {
  font-size: 52px;
  letter-spacing: -2.5px;
  line-height: 52px;
  font-weight: 700;
  margin-bottom: 20px;
}

h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

p {
  line-height: normal;
}
