@mixin breakpoint($point) {
   @if $point == laptop {
     @media (max-width: 1100px) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: 980px) { @content ; }
  }
   @else if $point == phablet {
     @media (max-width: 580px)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 480px)  { @content ; }
  }
}


@mixin alpha-background-color($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  background-color: $solid-color;
  background-color: $color;
}