$batman: rgb(15, 15, 15);
$purplerain: rgb(73, 54, 126);
$purplerain-10: rgba(73, 54, 126, 0.1);
$pumpkin: rgb(255, 91, 36);
$skin: rgb(255, 244, 236);
$bruno: rgb(155, 55, 22);
$batman-50: rgba(15, 15, 15, 0.5);
