button:focus {
  outline: 0;
}

button:active {
  transform: scale(0.98);
}

.btn {
  padding: 10px 16px;
  border: 0;
  border-radius: 4px;
  line-height: normal;
  font-size: 1rem;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  background: none;
  margin-right: 10px;
}

.btn.filled {
  background: $purplerain;
  color: #fff;
  &:hover {
    background: lighten($purplerain, 5%);
  }
}

.btn.outlined {
  background: none;
  color: $purplerain;
  box-shadow:inset 0px 0px 0px 1.5px $purplerain;
  &:hover {
    @include alpha-background-color(rgba($purplerain, 0.05), white);
  }
}

