header.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 200;
  background-color: #fff;
}

.top-bar-holder {
  max-width: 1200px;
  display: flex;
  height: 100%;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  flex-direction: row;
}

.logo {
  flex: 0 0 auto;
  padding: 0 20px;
}

.logo-poddifi {
  width: 100px;
  height: 30px;
  fill: $pumpkin;
  transition: all 0.2s ease-out;
   &:hover {
     fill: darken($pumpkin,12%);
   }
}

.nav-bar {
  display: flex;
}

.nav-bar__link {
  padding: 0 15px;
  font-size: 18px;
}