.pod-player {
  display: none;
}

.player {
  background: #000;
  z-index: 999999;
  position: fixed;
  -webkit-box-shadow: 0 0 13px 8px rgba(0,0,0,.36);
  box-shadow: 0 0 13px 8px rgba(0,0,0,.36);
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 66px;
}

.player-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  place-items: center;
}

.innerMedia {
  max-width: 75em;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

.meta {
  flex: 1;
  min-height: 3.875rem;
  margin: 0 1.875rem 0 .5rem;
  padding: .5rem 0 1rem;
}

.volume {
  display: flex;
  height: 25px;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: 2em;
}

.podcast-name, .podcast-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.podcast-name {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 3px;
}

.podcast-title {
  font-size: 0.80rem;
  margin: 0;
}


.podcast-wrapper {
  margin-top:120px;
}



.seek__holder {
  position: relative;
  width: 90%;
  max-width: 75rem;
  margin: 0 auto;
  z-index: 10;
  background-color: #444444;
  height: 6px;
  cursor: pointer;
}

.seek__bar__done {
  height: 6px;
  position: absolute;
  background-color: green;
}

.seek__knob {
  position: absolute;
  left:0%;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #dddddd;
  margin-left: -1px;
  margin-top: -4px;
}

@keyframes seek-loading {
  0% { background-position: 0 0; }
  100% { background-position: 50px 50px; }
} 

.loading {
  background-size:100px 100px;
  background-image: linear-gradient(-45deg,
     #33c9ff 25%, #00b2f2 25%, 
     #00b2f2 50%, #33c9ff 50%,
     #33c9ff 75%, #00b2f2 75%);
  animation: seek-loading 1s linear infinite;
}


