.pod-box-content {
  position: relative;
  display: flex;
    @include breakpoint(tablet) {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
}

.pod-box-content::-webkit-scrollbar {
  width: 0!important
}

.pod-box {
  display: inline-flex;
  vertical-align: top;
  position: relative;
  height: 0;
  padding-bottom: 20%;
  width: 20%;
  margin-right: 5px;
  transition: box-shadow 1.2s cubic-bezier(.19,1,.22,1),transform .21s cubic-bezier(.19,1,.22,1);
    @include breakpoint(tablet) {
      min-width: 150px;
      min-height: 150px;
    }
}


.pod-box:hover {
  box-shadow: 0 14px 36px rgba(0,0,0,.2);
  transform: translate3d(0,-.4rem,0);
}

.pod-box:hover::after {
  background: $purplerain;
  opacity: 0.2;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  cursor: pointer;
}

.category-collection .pod-box {
  margin-right: 0px;

}

.pod-box--image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.container {
	max-width: 1400px;
}