.subgenres {
  width: 100%;
  margin-top: 20px;
    ul {
      font-size: 0.95em;
    }
}

.filter-button-list {
	text-align: center;
	width: 100%;
}

.filter-button {
	display: inline-block;
}

.filter-button button {
  background-color: inherit;
	border-radius: 4px;
  transform: translateZ(0);
  border: 1px solid $purplerain;
	display: inline-block;
	padding: 0 1em;
	margin: 0 .7em 0.8em 0;
	line-height: 2em;
	text-align: center;
	cursor: pointer;
	transition: opacity .3s ease-in-out;
		&:hover {
			opacity: 1;
		}
		&:focus {
			outline: 0;
		}
}
