.site-footer-divider {
  background-color: red;
  background: url(../../images/footer-divider.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
  width: 100%;
  min-height: 300px;
  max-height: 800px;
}

.site-footer {
  background-color: $pumpkin;
  position: relative;
  padding: 50px 20px;
}

.footer-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0px auto;
  max-width: 550px;
  min-height: 200px;
  text-align: center;
}

.footer__text, .footer__copyright {
  margin-top: 20px;
  color: $skin;
}

.footer__text {
  font-size: 14px;
  line-height: 20px;
}

.footer__copyright {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}